[2019-04-04 10:38] byCedric opened #2 "Combine default CLI with login"
### Topic and scope of discussion
Simplifying the separate (sub)actions.

### Motivation
I feel like the authentication logic can be simplified and merged with the actual CLI action. It will also remove the need for the publish and build actions.

### Additional context
I noticed GH actions not picking up color and icons for the sub actions. Got me thinking about the simplification.

[2019-04-10 11:17] #2 closed

[2019-04-10 18:29] byCedric opened #4 "Periodically make new base images in CI"
### Description of the feature
Periodically, e.g. every week, make a new docker base image and push it to the registry.

### Motivation
I think this is "fair" for all other users, that way I/we can prove the contents of the image. It's also important to keep up with all updates, so eventually we have to implement such a thing.

### Additional context
I already have a docker mono repo which actuall

[2019-04-13 18:55] byCedric commented on #4
I added a simple Travis configuration to make this happen! You can see it in the branch `feat/docker-image-from-ci`. It does the following:

1. Make images for all `DOCKER_TAG` listed in the env matrix
2. Run `expo diagnostics` using the newly built images
3. Login with Docker to push it
4. Push the docker images to the registry

Nothing fancy, but super useful if you set Travis to run it (at leas

[2019-04-14 11:36] #4 closed

[2019-04-14 12:00] byCedric opened #11 "Discussion about docker image account"
### Topic and scope of discussion
Double checking if the docker account for the base-image (cached preinstalled Expo CLI image) is fine or needs to be changed.

### Motivation
Right now I've set up Travis CI to make a new image every week. It will create an image with both `:latest` and `:2` _(the major version of the CLI)_ tag, and push it to the registry for the Action. This will make sure that

[2019-04-15 21:47] ide commented on #11
We use GCR for Docker images. It will take some set-up but I think the right thing to do is for us to create a public GCR bucket, create a GCP service account that only has write access to that bucket, and then add the credentials as secrets to CI that are unlocked only on `master`. This way writes are protected but if the service account credentials are compromised, the damage is very limited and

[2019-04-15 22:19] byCedric commented on #11
If I can help with anything, feel free to spam-ping me!

[2019-04-16 02:11] mgibeau opened #12 "JavaScript heap out of memory error during expo publish"
Basically, a duplicate of this issue: https://github.com/expo/expo-cli/issues/94.

The suggested fix through env variable applies and solves the issue, e.g.:
[code]

According to the documentation the environments have up to 3.75 GB of ram: https://developer.github.com/actions/creating-github-actions/accessing-the-runtime-environment/#runtime-environment-resources

Not sure how you would prefer to

[2019-04-16 08:52] byCedric commented on #12
Hi @mgibeau! Thanks for reporting this with the detailed info. 😄 I think we should integrate it into the GitHub Action's docker image. Let's add a FAQ/Notes/Gotchas section in the read me to describe this. This way, if anyone wants to add custom `NODE_OPTIONS`, they can read about having to add this too.

I can make a PR later today! Again, thanks for this ❤️

[2019-04-16 22:01] #12 closed

[2019-04-16 22:32] byCedric commented on #12
Again, thanks for mentioning this @mgibeau! I just drafted release `2.3.1` which includes your proposed fix. Hope it works without issues now! If it doesn't, feel free to open up other issues 😄

[2019-04-17 01:01] mgibeau commented on #12
Awesome, thanks for the quick fix!

[2019-05-08 21:57] byCedric opened #14 "Sharp install is failing"
### Description of the bug
I noticed the pipeline is having some issues with Expo CLI `2.17.x` versions because of sharp. Will look into this asap.

### ~~To Reproduce~~

#### ~~Expected behavior~~

#### ~~Actual behavior~~

### ~~Additional context~~

[2019-05-08 22:10] byCedric commented on #14
Looks like it's related to [this issue on Expo CLI](https://github.com/expo/expo-cli/issues/591), will try some workaround for now.

[2019-05-08 22:29] byCedric commented on #14
fixed by #15

[2019-05-08 22:29] #14 closed

[2019-08-31 23:11] byCedric opened #18 "Upgrade to latest GitHub Actions version"
### Topic and scope of discussion
A summary of all changes to upgrade Expo GitHub Actions to the latest Actions version.

### Motivation
From 30 Sept 2019 the old HCL syntax of GitHub Actions is deprecated. That means we have to upgrade the documentation and see if we need to make additional changes to the project.

### Additional context
- [ ] Research about `Docker` vs `JavaScript` actions
- [ ]

[2019-09-05 19:52] byCedric commented on #18
Ok, so here are some things I learned from testing the latest GitHub Actions syntax:

1. You can pick your own operating system (`linux`, `macos` and `windows`)
2. Matrix builds are actually pretty well done, you can use them as simple variables within your workflow
3. Actions do either a simple thing or install a library to use later on in the steps

Below I wrote two approaches, I think **Approa

[2019-09-10 22:55] byCedric commented on #18
I've drafted a new version at [`refactor/update-action`](https://github.com/expo/expo-github-action/tree/refactor/update-action)! Currently, it's working, but I'm not happy about the performance. We definitely need a way to cache the installed Expo files, but unfortunately, [there is none (yet)](https://github.com/actions/toolkit/issues/47).

I prefer to wait to release this version when they have

[2019-09-10 22:56] byCedric commented on #11
Just a heads up @nicknovitski, [the new version of Expo GitHub Action will remove the docker images](https://github.com/expo/expo-github-action/issues/18#issuecomment-530151402). For now, I moved them to another repository which makes this issue obsolete, I think.

[2019-09-27 10:20] Kampe commented on #18
For anyone who comes accross this until there's a fix passing the argument has to be sent with "args" not "command"

[code]

[2019-09-28 12:35] byCedric commented on #18
Thanks for the solution ❤️ I like the approach of using the docker image within the new GH Actions syntax, but remember there are some functionality that you lose (like using windows/mac as OS). The approach you use is solid and will still work after we release the updated version, or when GH pulls the plug on their HCL syntax end of this month.

I have updated the action to the new yml format, ba

[2019-09-28 12:38] byCedric commented on #18
Once I've updated the documentation, I'll make sure to add a config example with your approach. It's significantly faster than the one we have prepared, but again, not all functionality is possible in that setup. But then again, it definitely depends on the project if that's even required. 😄 Again, thanks for the example! ❤️

[2019-09-28 15:27] byCedric commented on #18
GitHub is working on this caching feature and hoping to release it before the end of the year. I'll go ahead and prepare the documentation and release a new version tomorrow!

[2019-09-28 18:22] Kampe commented on #18
Most excellent! Definitely not tied to how I'm implementing this as I'm just getting started with Expo as well as GH Actions - just super used to using docker for everything :)

Thanks for your work and quick responses!

[2019-09-29 14:35] #18 closed

[2019-09-29 15:11] byCedric commented on #18
New version (`v4`/`4.0.0`) is out! 🚀 I hope the updated documentation makes sense 😄

[2019-10-04 09:58] nicolasrouanne opened #20 "ENOSPC: System limit for number of file watchers reached"
### Description of the bug
Basically a duplicate of https://github.com/expo/expo-cli/issues/277

### To Reproduce
Run `expo publish` using default configuration in `README`, with slight modifications:
- use `yarn` instead of NPM
- use a `release-channel` option

[code]

#### Expected behavior
`expo publish` to succeed

#### Actual behavior
Following error in the `expo publish ...` step
[code]

###

[2019-10-04 09:59] nicolasrouanne commented on #20
I also tried using the [_Docker image_ configuration](https://github.com/expo/expo-github-action#use-docker-for-improved-performance) and I get the same error.

[2019-10-04 14:10] RemusRD commented on #20
I'm running into the same problem since some weeks ago

[2019-10-04 15:45] byCedric commented on #20
Thanks for the report guys, it's detailed and clearly written. ❤️

@nicolasrouanne I think I might have removed the fix from the previous report, because the images are now a bit more provider-agnostic. I'll re-add the fix in the images based on your information there. 👍

For the GitHub Action, I'll do a bit more research how we can implement the fix. I'm not sure yet, but rest assured I'm working

[2019-10-04 18:59] nicolasrouanne commented on #20
@byCedric Thanks for the feedback and looking into it so quickly!

Sure! Please do.
If you want I can make a PR myself once I polished the angles (e.g. probably can simplify the triggers on `pull_request` event, yet to be tested).

BTW I’d also love to be able to display in the _Status check_ a link 🔗 to the expo published _Review app_ pretty much like **Netlify** is doing for their _Deploy previe

[2019-10-05 15:13] byCedric commented on #20
@nicolasrouanne That sounds awesome! If you have time go ahead, I'd be happy to review the PR 😄

I added a small fix for the docker image inotify limits. But I can't verify if this works, because I'm not able to trigger the issue. Could you try if you still have this issue using the `bycedric/expo-cli-fix-inotify:latest` image? I might be able to "read" the value from GitHub Action, but I want to

[2019-10-05 19:19] RemusRD commented on #20
@byCedric Maybe I am running in a different problem but, seems that it does not fix it

https://github.com/RemusRD/dance-academy/runs/249184584

[2019-10-05 21:41] byCedric commented on #20
@RemusRD Thanks for testing! ❤️ I'm afraid this seems to be a GitHub Action limitation. That docker image is forcing the `fs.inotify.max_user_watches` limit to `524288`, but apparently GHA is overwriting this back to `8192`. You can see this happen in a [fork of your repo](https://github.com/byCedric/dance-academy/runs/249245759) (when we are done, I'll remove the fork ofc, let me know if you want

[2019-10-06 01:35] RemusRD commented on #20
@byCedric feel free to keep it open as long as it is needed! Thank you a lot for the effort! Is not this related with this issue? https://github.com/expo/expo-cli/issues/277#issuecomment-477057752

[2019-10-06 12:06] byCedric commented on #20
Yes, it's related to a limitation of the environment you are running Expo CLI in. The metro bundler requires a high amount of listeners apparently. This fails if the host environment is limiting this. So technically its an environment issue, but I'm not sure if the CLI can change anything about this.

I find the limit in GitHub Action personally a little low. Like I tried to outline in an earlier

[2019-10-07 12:30] nicolasrouanne commented on #20
I have the [same test results](https://github.com/expo/expo-github-action/issues/20#issuecomment-538680679) as @RemusRD (thanks for testing 👌 ), still broken with `inotify`.

@byCedric I would be interested if you could link the issue you're creating here (not sure if it's an `expo-cli` of _Github Action_ issue you're creating 😉 )

[2019-10-07 21:48] byCedric commented on #20
As the community forum of GitHub doesn't allow my message to be posted (internal server error), I'm mostly resolving this via mail. But I'll post updates here if I know more 😄

Again, it's not necessarily an Expo CLI issue. It's a limitation in GH action that limits the number of watches on the systems. Unfortunately, there is no easy fix for this. Right now I can think of 3:

1. GitHub opens up t

[2019-10-08 15:23] chandlervdw opened #21 "Yarn support"
### Description of the feature
Currently, `npm ci` is used. Could support for `yarn` be added?

### Motivation
A lot of folks use `yarn` over `npm`

[2019-10-08 16:12] chandlervdw commented on #21
My bad, I was trying `yarn ci`, which isn't a `yarn` command.  `yarn install` works fine.

[2019-10-08 16:12] #21 closed

[2019-10-14 13:26] vongohren commented on #20
So, there exists a fix, that seemed to work for me when I tried. What I did was to follow this guys tip: “Increasing the number of watchers” — @JNYBGR https://link.medium.com/9Zbt3B4pM0

I then did this in my main action.yml
With all the specifics underneath the dev release
[code]

I can confirm that I got past the watch step and was able to finish my dockerized fastlane build and release action

[2019-10-14 14:04] byCedric commented on #20
@vongohren, thanks! That's interesting. That means we actually _have_ privileged access to GitHub actions? In that case I'll add that to the JS action! ♥️ For the docker version, I'm still waiting on GitHub support's response.

[2019-10-14 14:11] vongohren commented on #20
@byCedric yeah I was not able to run this command inside docker, but I was able to run this outside, so that the docker, which you said inherits the kernel, uses the right setup.

[2019-10-14 14:24] byCedric commented on #20
Thanks for this! @vongohren

[2019-10-14 16:12] nicolasrouanne commented on #20
@vongohren It works indeed 🎉

Here is my complete configuration for reference:
[code]

[2019-10-14 16:13] nicolasrouanne commented on #20
@byCedric closing this, as there is a functional workaround

[2019-10-14 16:13] #20 closed

[2019-10-28 09:30] hashim-sohail commented on #20
Getting the same error in my custom docker image that is being used in GitHub Actions. Can't modify system watchers directly as it is available in read-mode only. Does anyone have a fix?

[2019-10-28 17:29] byCedric commented on #20
@hashim-sohail Haven't heard back from the GitHub dev team, so I'm afraid I have no solution. However, I bet if you post the inotify/watcher issue from Docker in the [community forum](https://github.community/t5/GitHub-Actions/bd-p/actions), you might have some more luck.

[2019-10-29 20:40] byCedric commented on #20
I just released a new version with the suggested ENOSPC patch from Ville. Right now, you shouldn't encounter this issue with the config as described in the readme. You can see the patch being executed on Linux only, _and_ you can opt-out if you want 😄 Thank you all for helping ❤️

[2019-12-29 21:12] kopax commented on #20
Hello, I am trying to run expo in docker gitlab-ci runner and I also have this error. I have tried to use in `before_script`:

[code]

How did you guys finally fix this?

[2019-12-30 01:15] byCedric commented on #20
@kopax I managed to integrate [the patch here](https://github.com/expo/expo-github-action/blob/master/src/system.ts#L19-L23). It's a bit GitHub-specific, you might have to fiddle your way around Gitlab though. If you can't get it working, hop on to the [Expo Developers slack](https://slack.expo.io/), maybe me (or someone else) can help you there 😄

[2019-12-30 15:12] #11 closed

[2020-03-08 07:44] zivl opened #36 "`expo publish` command fails with 404 error"
For some reason, my workflow has started to fail over `expo publish` command.
I have not done any change recently in my flow.
here is my `workflow.yml` file:
[code]
In the action log I see `axios` 404 error:
[code]
Any ideas?

[2020-03-08 16:58] byCedric commented on #36
Thanks for the detailed report! I think this might be related to the open issue [#1674](https://github.com/expo/expo-cli/issues/1647), right? I haven't encountered it myself but the others report that it might be related to specific images. You _can_ try to recreate that image in different formats to see if that's the issue.

Otherwise pinning the Expo CLI to `3.12.1` [might also fix the issue for

[2020-03-08 20:46] zivl commented on #36
@byCedric  yes it worked!

[2020-03-09 22:13] jkhales commented on #36
Thanks for fielding this @byCedric, fix is pushed. Please let us know if there are any more issues!

[2020-03-09 22:13] #36 closed

[2020-03-14 15:02] Derewith opened #38 "Expo publish - basic action not working"
### Description of the bug
Hello all! And thanks for the awesome library.
I would like to know if it's something related to Expo, or Github actions itself.
I've set up the basic publish every push to the master repository, but i got an error when the actions is running **expo publish**
### To Reproduce
[code]

#### Expected behavior
To publish the package

#### Actual behavior
This is the error
`#

[2020-03-14 17:40] byCedric commented on #38
Hi @Derewith! Thanks, happy to make it 😄 I think your issue is related to [#1677](https://github.com/expo/expo-cli/issues/1677). Could you check if you have the `.expo` committed in your repository? If so, try removing that folder from your repository. Also, the issue related to assets (for which the downgrade to `3.13.1` was recommended) is resolved! You can use the latest version again 😄

[2020-03-14 18:37] Derewith commented on #38
Hey @byCedric thanks for the hint!
I've removed all the _.expo_ folders in the repository and i'm using the last version in expo-version, but i've got this error..
[code]

[2020-03-14 20:29] byCedric commented on #38
Hmm, that's weird, you set your expo credentials properly your config. Is the repo public, if so, can I have a look? If not, do you see "Authenticated as <name>" in the logs of the action?

[2020-03-15 00:14] Derewith commented on #38
@byCedric thanks for everything.. now seems to work!

[2020-03-15 00:14] #38 closed

[2020-03-15 13:00] byCedric commented on #38
Awesome! Thanks for the follow up, your app looks great 😄 Some extra tips to fine tune your setup:

- It's not recommended to commit `.expo` because it contains information that should only be used on your development machine (not on other systems) _you already did this_ 👍
- It's good to commit `.expo-shared` because that contains information about image optimization, which is good to share. (you

[2020-03-27 18:59] bitttttten opened #39 "Input is required, but Expo CLI is in non-interactive mode."
### Description of the bug
Input is required but the GitHub action runs in non-interactive mode.

### Additional context
[code]

[code]

[code]

How am I able to say "yes" to the prompt here? 🤔

[2020-04-04 11:51] bitttttten commented on #39
I ran the publish scripts locally and needed to reconfigure some certificates. After I did this, the builds on CI started working again.

[2020-04-04 11:51] #39 closed

[2020-04-15 11:42] byCedric commented on #39
Sorry for my late reply, glad you sorted it out 😄

[2020-04-28 01:02] shopcam opened #40 "When expo build:android completes is it possible to access/pass the apk URL?"
Everything is working great. However, I want to have my apk automatically push into [Firebase App Distribution](https://github.com/marketplace/actions/firebase-app-distribution) once the build completes.

The output log displays something like this when `expo build:android` finishes.

✔ Build finished.
[00:37:25] Successfully built standalone app: https://expo.io/artifacts/8e3de24e-aaaa-bbbb-cccc-

[2020-04-28 01:03] shopcam opened #41 "When expo build:android completes is it possible to access the apk url?"
Everything is working great. However, I want to have my apk automatically push into [Firebase App Distribution](https://github.com/marketplace/actions/firebase-app-distribution) once the build completes.

The output log displays something like this when `expo build:android` finishes.

✔ Build finished.
[00:37:25] Successfully built standalone app: https://expo.io/artifacts/8e3de24e-aaaa-bbbb-cccc-

[2020-04-28 01:13] shopcam commented on #40
Duplicate, closing.

[2020-04-28 01:13] #40 closed

[2020-05-03 14:32] byCedric commented on #41
Hi @shopcam, sorry for my late reply! You can do this with the Expo CLI, there are two options:

1. Add a webhook that's called when the standalone build is finished
2. Run `expo upload:android` or `expo upload:ios` to upload after waiting on a successful build

Option 1 requires you to have a simple webserver running that takes care of handling the request. You can [read more about it here](https

[2020-05-03 14:32] #41 closed

[2020-05-04 15:59] shopcam commented on #41
Great, thank you @byCedric. I'll give this a shot.

[2020-05-29 16:06] bradbumbalough commented on #12
If anyone else comes here after encountering this issue, the fix above is no longer relevant. Now, you can simply apply the `NODE_OPTIONS` directly to the step like so:
[code]

[2020-06-23 16:52] dougg0k opened #51 "Error expo/expo-github-action@v5"
Hi,

I've been using this action without any problems and today after a push, I got this error, no config was modified.

[code]
This is the job
[code]
Edit:
After a rerun, it run fine, probably related to Expo servers.

[2020-07-10 18:24] byCedric commented on #51
Hi @dougg0k, thanks and sorry for my late reply! Yeah, we noticed this too in [expo/expo-cli#2300](https://github.com/expo/expo-cli/issues/2300). I think this shouldn't happen anymore! 😄  But if it does for you, feel free to open an issue in either [`expo/expo`](https://github.com/expo/expo) or [`expo/expo-cli`](https://github.com/expo/expo-cli) (or ping me on Twitter if it's happening _a lot_). F

[2020-07-10 18:24] #51 closed

[2020-07-10 18:28] dougg0k commented on #51
Cool, thanks.

[2020-08-17 14:43] tspvivek commented on #41
@byCedric Github action is a great addon for expo. Build and publish works fine. But is it possible in action to configure "expo upload:ios" to use FASTLANE_SESSION or use app specific password to upload without asking 2FA code. Thanks.

[2020-08-25 11:22] bradbumbalough opened #58 "Publish performance?"
This isn't a bug per se, but I wondered if there are any recommendations for publish performance? My last build with the action took 23 minutes. The same publish locally takes maybe 2 minutes.

[2020-08-26 22:03] brentvatne commented on #58
hey @bradbumbalough! you could try setting the `EXPO_USE_DEV_SERVER` environment variable in your ci environment, this will switch to using the metro js api directly rather than starting react-native-cli and then building from there. this should be faster for a variety of reasons, give it a shot and let us know. we plan to switch this to the default behavior soon.

related tweet: https://twitter.c

[2020-08-26 22:10] bradbumbalough commented on #58
Hey @brentvatne!! Thanks for the tip.. I'm trying it out now and will update what I find.

[2020-08-27 03:57] bradbumbalough commented on #58
It cut the time in half! down to 10 minutes. Maybe that is attributed to the CPU availability on GH.

[2020-08-27 04:09] #58 closed

[2020-09-14 14:16] kdacnm88 opened #59 "Regarding automating build for IOS and Android together"
Hi,
Currently when i use this Action i can see in Expo Dashboard the build is available but it only shows for IOS. Is there a way i can automate the build for IOS and Android together?

<img width="620" alt="image" src="https://user-images.githubusercontent.com/43436576/93097209-daf34900-f6d7-11ea-9972-87192bbf025d.png">

[2020-09-14 16:38] kdacnm88 commented on #59
Wrong information given by me. I will close this. Sorry.

[2020-09-14 16:38] #59 closed

[2020-09-23 20:32] jakemwood opened #60 "How do I get my expo-token?"
### Topic and scope of discussion
In the README, there is a point of:

[code]

I am using Expo-cli 3.27.7...

[code]

However, I can find no information about a token anywhere. How do I get my hands on my Expo token so I can use it in my CI workflow?

### Motivation
Why should we have this discussion?

I agree with the README that using a token is a better way to integrate with a CI/CD pipeline (l

[2020-09-23 20:33] jakemwood commented on #60
Sorry -- just saw the comment here! https://github.com/expo/expo-github-action/pull/57#issuecomment-692581333

[2020-09-23 20:33] #60 closed

[2020-09-28 22:26] mondash opened #61 "Caching on windows-latest Fails (v5)"
### Description of the bug

Caching creation fails when using the windows-latest runner.

### To Reproduce

1. Create a new job using windows-latest as the runner.
2. Set `expo-cache` to true.
3. Run the job.

#### Expected behavior

The cache to be created successfully.

#### Actual behavior

Cache creation fails: see log below.

### Additional context

Partial output of the action in our workflo

[2020-09-29 03:37] mondash commented on #61
Figured I'd go ahead and post an update since I decided to take a crack at a solution myself. My proof-of-concept fork seems to be working after updating to use @actions/cache package in place of the Cypress fork. There's a slight change in signature between the fork and the current version, but the functionality of this action remains the same.

I've run into an issue which causes the action to f

[2020-10-02 13:15] byCedric commented on #61
Awesome, thanks for the report! It's a bit weird that it fails on `tar.exe`. Looks like Github updated it to a different version in their virtual environments and caused this. I'll test this tomorrow as well!

[2020-10-02 13:20] byCedric opened #64 "Group output by collapsible items for readability"
#### Old version
Right now, the output of the action is listed in a "flat list of text". Would be great if we can group it with collapsible items.

#### New version
Something like,

[code]

[2020-10-06 22:42] mouhamedaly commented on #12
I try this, but i have the same issue: FATAL ERROR: Ineffective mark-compacts near heap limit Allocation failed - JavaScript heap out of memory

[2020-10-10 20:59] tlmader commented on #12
Same issue here. Running with `NODE_OPTIONS: --max_old_space_size=4096` results in the same error.

[2020-10-11 07:50] zivl opened #65 "running expo build for iOS"
assuming the flow in which expo is taking care of the entire signature and provisioning stuff for you
do you have an example of how to create an `expo build:ios -t archive` flow, which having the Apple Connect user/pass?

[2020-10-11 15:50] jonathanstiansen opened #66 "Warning: The `add-path` command is deprecated and will be disabled soon"
#### Old version
What did you find that should be changed?
When running this command the logs emit:

#### New version
How should it look after the suggested change?
Likely this is a required fix at some point, it looks as though it allows printing secure variables.

### Additional context
Can you further clarify the change? E.g., link to a dictionary or real-world examples.

This link seems to sho

[2020-10-12 13:09] bradbumbalough commented on #12
Per this https://github.com/expo/expo-github-action/issues/58#issuecomment-681147148, can you try running it with `EXPO_DEV_SERVER=true` env var?

[2020-10-20 15:48] byCedric commented on #65
Hi @zivl! That should be possible by using environment variables! Based on the [envvars used here](https://github.com/expo/expo-cli/blob/master/packages/expo-cli/src/appleApi/authenticate.ts#L78-L81) and the [options from the command itself](https://github.com/expo/expo-cli/blob/master/packages/expo-cli/src/commands/build/index.ts#L56-L89), it should look something like:

[code]

You can play arou

[2020-10-20 15:58] byCedric commented on #66
Hi @jonathanstiansen, thanks for the report! And sorry for the delay. From the changelog link you mentioned, I see that they have updated the `@actions/core` methods to use this newer and more secure method starting from version `1.2.6`.

This is the one that's currently used, so I'm not 100% why you are seeing this or what we can do to fix it. Do you have an example repo for this? Or do you use s

[2020-10-20 16:11] byCedric commented on #66
Again, sorry for the delay! Could you try the latest version (`v5` or `5.3.1`)? This should include the version bump to of `@actions/core` to `1.2.6`, and fix this issue! If not, please let me know and I'll dig in!

[2020-10-20 16:11] #66 closed

[2020-10-20 18:45] dmiranda2791 opened #67 "Expo publish action can't resolve module"
### Description of the bug
Expo publish Github action throws error `Unable to Resolve module`

### To Reproduce
I have this config to run expo publish on each push to main branch.
[code]

#### Expected behavior
Github Action to complete successfully

#### Actual behavior
[code]

### Additional context
I am able to load the application using expo app, no errors in my local environment. I have check

[2020-10-20 19:06] zivl commented on #65
@byCedric thanks for the detailed example, yet, Apple uses TFA so I'm afraid `appleId` and `password` won't be enough.
but **I will** try this out, as I think the TFA is being used only for the first time of generating the keys/certificates...

[2020-10-21 12:43] byCedric commented on #67
Hi @dmiranda2791! This looks like an issue with your project, and not the action. But let's try to find the issue anyways 😄

What OS do you use for developing locally? If it's windows or mac, it might be related to capitalization. I see your GH action is running in linux/ubuntu, which means the modules are case-sensitive. On windows and mac, I don't think it's case sensitive.

[2020-10-21 12:45] byCedric commented on #65
Ah, you are right! I think that would make any "first time builds" close to impossible. You'd have to at least have 1 build done locally, so you can authenticate with Apple and setup the certificates in advance. After that, you should be able to run the `expo build:ios` without Apple credentials, right?

Does that help your use case in any way?

[2020-10-21 23:38] dmiranda2791 commented on #67
Thanks @byCedric.

I am using Mac, I double-checked the import statements and they match with the capitalization of the file name.  See here:

![image](https://user-images.githubusercontent.com/4513830/96800796-66d94e80-13c3-11eb-99ba-03c096fa286b.png)

I wonder what are the differences in the context of the Github action and my local. I considered that the command might be running on a directory

[2020-10-22 22:09] dmiranda2791 commented on #67
@byCedric you were right! It was a capitalization issue. I was surprised to see that the file was in lowercase in Github but it appeared with capital in my local. I solved it by running `git mv header.tsx Header.tsx`, now the action works like a charms.

Thanks for your insight!

[2020-10-22 22:54] byCedric commented on #67
Haha, great! I think everyone has been there a couple of times. Glad you solved it, I'll close this issue now.

[2020-10-22 22:54] #67 closed

[2020-10-23 04:02] dmiranda2791 opened #68 "How to automate expo upload:android"
Hello! It's me again 😄

### Topic and scope of discussion
How would you pass service account JSON to expo upload:android?

### Motivation
I want to create a manual action to automate uploads to Play Store?

### Additional context
`expo upload:android` requires the `--path` to the json file containing the service account. I dug into the expo-cli code and they use fs.readFile to get the content so n

[2020-10-26 13:01] byCedric commented on #68
Hi @dmiranda2791! Having "secret files" instead of "secret env vars" is a bit harder, but not impossible 😄   You are lucky that the Google Service file is a JSON file, meaning you can easily serialize and deserialize to and from a string. I would recommend putting the contents of your Google Service file into a secret envvar, [and use this to convert it to a file](https://stackoverflow.com/a/59482

[2020-10-27 21:25] Amraneze opened #69 "Running expo on a self hosted servers fails"
### Description of the bug
I'm trying to use your Github action on a self hosted server but it fails with this error `EACCES: permission denied`. It's an issue with permission. I added this before running your Github action but I got the same result (following [NPM documentation](https://docs.npmjs.com/resolving-eacces-permissions-errors-when-installing-packages-globally)):

[code]

It might be so

[2020-10-28 17:55] Amraneze commented on #69
Changed the server to MacOs and it works like a charm

[2020-10-28 17:55] #69 closed

[2020-10-30 01:55] dmiranda2791 commented on #68
Thanks! I'll give it a try 😁

I'll told you how it goes

[2020-11-14 19:59] zivl commented on #65
@byCedric It did work!
Amazing! 🍺

[2020-11-15 07:14] zivl commented on #65
@byCedric I think this issue can be closed, unless you wanna keep it open to grab some documentation out of it

[2020-11-20 22:42] dmiranda2791 commented on #68
Thank you @byCedric! It worked perfectly, I have automated uploads Play Store now 😁

[2020-11-27 16:34] byCedric commented on #68
Awesome, I'll keep this issue open to add it as an example!

[2020-12-04 21:16] byCedric commented on #61
Alright, as mentioned you should be able to use it already! You can use `@master` as the version, that includes the fix you made with some additional tweaks. I'll release it asap, but still want to do some testing.

[2020-12-04 21:16] #61 closed

[2020-12-05 14:03] byCedric commented on #64
This is now integrated!

[2020-12-05 14:03] #64 closed

[2021-01-04 09:51] filiptronicek opened #74 "bug: Insecure adding of environment variables"
### Description of the bug
When I run a simple action just setting up Expo and running `expo doctor`, it seems as GitHub is blocking this way of adding environment variables. [GitHub article talking about this](https://github.blog/changelog/2020-10-01-github-actions-deprecating-set-env-and-add-path-commands/).

### To Reproduce

1. Make a new GitHub action
2. Paste in the same config as I have

[c

[2021-01-10 03:20] mondash opened #75 "Request: Release new version with recent cache updates"
#### Old version
The latest updates using the official cache action are only available in the master branch

#### New version
I should be able to use this action (with the recent updates to caching) with a specific tag instead instead of using the master.

[2021-01-12 13:20] byCedric commented on #75
There is an update coming with improved error handling, I'm testing that and will release a new version! (probably v6)

[2021-01-12 13:23] byCedric commented on #74
Hi @filiptronicek, sorry for the late reply! I think this is the same issue described in #66, right? See [this comment](https://github.com/expo/expo-github-action/issues/66#issuecomment-712963942).

All you have to do is upgrade the workflow to `v5` or `5.3.1`. Right now it seems Github has blocked updates for specific versions on the marketplace (due to some paperwork we need to file as Expo org)

[2021-01-12 13:23] #74 closed

[2021-01-12 14:22] byCedric commented on #75
Done, `5.4.0` is out! Thanks for your help with upgrading the cache @mondash ❤️

[2021-01-12 14:22] #75 closed

[2021-02-12 14:51] filiptronicek opened #79 "Yarn fails"
### Description of the bug
When running the action with Node v14, macos-latest, this error occurs (not every time, but most of it):
`Error: Error: The process '/Users/runner/.yarn/bin/yarn' failed with exit code 1`

### To Reproduce
What steps did you perform which led to this issue?

I created a workflow, it goes like this:
[code]

#### Expected behavior
No error occurs

#### Actual behavior
What

[2021-03-05 12:27] byCedric commented on #79
Hi @filiptronicek! Thanks for reporting this, it looks like something was up with either Github's internal network or Yarn's package registry. I can't seem to reproduce this on my end, so I guess it was transient. One "workaround" that might help here is adding the `expo-cache: true` flag. This flag will store the installed files in your repo's cache to avoid downloading expo-cli every time you ru

[2021-04-16 11:13] sallar opened #80 "A broken release of domhandler broke this action"
### Description of the bug

A broken release of `domhandler` broke `expo-github-action`.

https://github.com/fb55/domhandler/issues/506

### To Reproduce
What steps did you perform which led to this issue?

1. Use `expo-github-action`

#### Expected behavior
It should work

#### Actual behavior
It doesnt work:

<details>

[code]

</details>

### Additional context
Version 5

[2021-04-16 11:19] sallar commented on #80
Seems to be no longer an issue.

[2021-04-16 11:19] #80 closed

[2021-04-24 17:59] mouhamedaly commented on #12
I tried EXPO_USE_DEV_SERVER=true and NODE_OPTIONS: --max_old_space_size=4096 but still having this issue.

Expo 41

[2021-04-29 15:04] IjzerenHein opened #81 "Support Expo staging environment"
### Description of the feature

Support the Expo staging environment, similar to setting `EXPO_STAGING=1` using the CLI. Currently when using an access_token for the Staging server it fails with:

[code]

https://github.com/expo/snack/pull/132/checks?check_run_id=2467846428

*example config*

[code]

### Motivation

So we can publish the Snack runtime to both the Staging and Production environment

[2021-05-03 11:00] giautm commented on #58
Hey @brentvatne, I have the same issues with Expo Github Actions. It takes 16m to complete. (7m for local).

<img width="1041" alt="Screen Shot 2021-05-03 at 17 58 29" src="https://user-images.githubusercontent.com/12751435/116868585-3c513380-ac39-11eb-8e92-3d80e8238d02.png">

[2021-05-04 01:48] brentvatne commented on #58
this looks like it may have been an issue with the machine the github action is running, sorry i'm not really sure. we just get the bundle from metro and upload it.

[2021-05-04 09:26] giautm commented on #58
I think the publish time may be related to Metro cache config; likely on the Github actions, there is no cache config?

How I can config Metro's `cacheStores` with expo-cli? https://facebook.github.io/metro/docs/caching

[2021-05-05 09:24] giautm commented on #58
Fixed, I used the two steps below to restore the react-native metro cache. So, It speed-up publish time to 1m6s. You can remove `${{ matrix.app }}` from the below script if you have only one app/repo.
<img width="859" alt="Screen Shot 2021-05-05 at 16 15 05" src="https://user-images.githubusercontent.com/12751435/117121034-494b5f80-adbe-11eb-802b-8360810bf00b.png">

[code]

[2021-05-06 13:21] IjzerenHein commented on #81
As pointed out by Cedric in this PR, this can already be achieved by setting `STAGING=1` as a global env:

[code]

[2021-05-06 13:22] #81 closed

[2021-05-06 17:52] melchoir55 commented on #12
I'm also having this issue. It appeared after we upgraded from expo 3.x to 4.x
I've tried all the suggestions here including dev server and max space.

[2021-05-06 18:27] melchoir55 commented on #12
The reason I was having this problem is I initially erroneously applied `NODE_OPTIONS: --max_old_space_size=4096 ` to the expo image itself. It instead should be applied to the invocation. For example:

`- run: expo publish
  env:
    NODE_OPTIONS: --max_old_space_size=4096`

[2021-05-25 07:03] hyochan opened #85 "How do you prefer to handle json file in github action?"
### Topic and scope of discussion
How would you summarise and scope the issue?
I am not sure how would expo like to handle the `json` file in github action like `google-services.json`.
[code]

### Motivation
Why should we have this discussion?
Because some secret JSON files should not be in version control.

### Additional context
![image](https://user-images.githubusercontent.com/27461460/1194537

[2021-05-25 14:48] hyochan commented on #85
Managed it this way https://github.com/dooboolab/hackatalk/commit/a27668f6ee66e2d2e3b6c2d0b78c787f6b7a0f8d

[2021-05-25 14:48] #85 closed

[2021-06-10 13:44] bearkfear opened #87 "Actions on Monorepo"
Change de default diferectory

not success after trying alot.

[code]

[2021-06-14 17:25] byCedric opened #89 "Running `eas-cli` without installing dependencies crashes with unclear error"
### Description of the bug
When running `npx eas-cli` without installing the `expo` package (for version detection), causes an unclear error:
[code]

### To Reproduce
Just skip `yarn install`.

#### Expected behavior
Either a clear error message, or just being able to run `npx eas-cli` without installing the project's dependencies.

#### Actual behavior
See above

### Additional context
No

[2021-06-14 17:27] byCedric opened #90 "Being able to run this action locally"
### Description of the bug
Make this GH action compatible with [`act`](https://github.com/nektos/act)

### To Reproduce
Run any working workflow with act.

#### Expected behavior
It crashes about not being able to find a cache (I think?)

[2021-06-14 17:31] byCedric commented on #87
hi @bearkfear! You were on the right track! You have to add the `working-directory` to every `run` statement or add it [globally like this](https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#defaultsrun).

Let me know if that fixed it 😄

[2021-06-14 17:33] bearkfear commented on #87
Thanks. Work fine!

[2021-06-14 18:08] #87 closed

[2021-06-16 13:54] byCedric opened #92 "Switch over to main default branch"
### Additional context
This will probably be a breaking change, so for the next major version let's swap out `master` for `main`. Also while keeping `master` in the repository for people who reference this from their workflow.

[2021-06-16 22:48] #90 closed

[2021-06-18 15:47] byCedric opened #97 "Add support for EAS CLI installs"
### Topic and scope of discussion
Improved support for EAS CLI. It's not super important, bc you can just use `npx eas-cli`, but still might be useful to include in the github action.

### Big changes
- Make Expo CLI optional to install
- Add optional EAS CLI install
- Make sure caching works with both Expo and EAS CLI
- Unify credential inputs for both Expo and EAS

### Proposed inputs

old | new

[2021-06-20 16:37] kokorolx opened #99 "Expo publish no longer exit after publish success - Github Action"
### Description of the bug
How would you shortly summarise the issue?

I want every PR will create a release channel, and I choose GitHub action to do that.
My environment:
[code]

My package.json
[code]
My app.json
[code]

My workflow.yml
[code]

### To Reproduce
What steps did you perform which led to this issue?

I create the PR on GitHub, and the Action will auto-run.
After `Publish complete`

[2021-06-22 12:44] byCedric commented on #99
Hi @kokorolx! I'm not exactly sure what's going on here. In the log you provided it says it's being "canceled", that's probably a manual action or a side-effect of another job failing.

I double-checked the behavior of this in [`bycedric/eas-monorepo-example`](https://github.com/byCedric/eas-monorepo-example/runs/2884819048). Here you can see the "Publish to Expo" step succeeding and posting a QR

[2021-06-22 12:51] byCedric commented on #92
This is done, `master` is kept and pinned on the latest v5 (`5.5.1`) version.

[2021-06-22 12:51] #92 closed

[2021-06-22 15:11] kokorolx commented on #99
Oh, I `canceled` because it was running up to 2 hours. It published to repo successfully but it does not stop to progress `publish`.
I will copy your `workflows/preview.yml` and run it again.

[2021-06-22 15:43] byCedric commented on #97
Next up, expose output variables to make EAS Updates easier. Right now, we have to use things like:
[code]

This should be way easier, like:

[code]

_or_ if we could integrate this better with EAS, just running with some envvar based defaults:

[code]

[2021-06-22 15:50] kokorolx commented on #99
@byCedric
After updated the `github/workflows/preview.yml`
It's still not working.
![image](https://user-images.githubusercontent.com/35665527/122956134-ee3fed00-d3aa-11eb-9735-48b1d63a008e.png)
And it's still running.

My new `preview.yml`
[code]

Oh sorry, but if you want any info, I will provide it for you.

Do I need to upgrade my expo account to `Priority` plan?

[2021-06-22 15:54] byCedric commented on #99
Hmm, your workflow seems good. I don't know why it's blocking the publish step for you. `expo publish` isn't affected by the priority plan, only your builds are queued without it. I'm afraid I need access to a repository to fully investigate this.

[2021-06-22 18:34] mondash opened #102 "docs: Should use `main` branch to update `v{major}` tag"
#### Old version
Docs show using `master` branch to update `v{major}` tag

#### New version
Docs should show using `main` branch to update `v{major}` tag

[2021-06-22 19:13] byCedric commented on #102
thanks, I was sloppy there 🙈

[2021-06-22 19:14] byCedric commented on #102
Merged

[2021-06-22 19:14] #102 closed

[2021-06-23 16:27] kokorolx commented on #99
Oh, I found that issue by the package: `@ui-kitten/metro-config`
I removed it and now the github action working correctly.
Thank you for your support @byCedric

[2021-06-23 16:27] #99 closed

[2021-06-23 17:53] byCedric commented on #99
Awesome! Glad you got it working :)

[2021-07-12 14:09] mkny opened #105 "PNG Import error"
### Description of the bug
When I import a png file, it stops running `expo publish` from github actions. (Local works normally).

### To Reproduce
What steps did you perform which led to this issue?

1. Added simple import to a png file on my project
2. Click manually triggered expo action on my repo
3. It breaks with the following message

Run expo publish

[code]

#### Expected behavior
I was e

[2021-07-12 18:25] mkny commented on #105
It was a mistake of mine.
Keeping a `.gitattributes` file, that changed my `.png` file as well.

[2021-07-12 18:25] #105 closed

[2021-07-25 05:12] jonnyasmar commented on #58
From ~20 mins to publish to ~30 seconds. Beautiful fix! 👏

Thank you!

[2021-07-30 09:29] kelvinndmo opened #106 "EAS build --platform all Error: Input is required, but stdin is not readable on IOS"
### Description of the bug
Am trying to build and app using Github Actions then probably distribute it to the store, so far everything except the part where it prompts me if i want to login to my Apple account, The action the goes ahead and throw an error ```Input is required, but stdin is not readable``` probably because of the same.

### To Reproduce
What steps did you perform which led to this

[2021-08-08 02:12] nicholascm opened #109 "Example for Publish on PR has issue"
### Description of the bug
Example doesn't work

### To Reproduce
1. setup an expo repo
2. try to use example here: https://github.com/expo/expo-github-action#test-prs-and-publish-a-review-version
3. Note the error relating to "unsplash/comment-on-pr@main" when the github action runs

#### Expected behavior
Example should work as-is

#### Actual behavior
Failed Github Action
![image](https://user-

[2021-08-23 19:26] byCedric commented on #109
Thanks for the PR, I just merged it.

[2021-08-23 19:26] #109 closed

[2021-08-23 19:58] byCedric commented on #106
Hi @kelvinndmo, sorry for the late reply. This happens whenever the CLI requires input from the user. You could try running with `--non-interactive` flag. Or, if that doesn't work, try running the command locally. If there is anything left for you to do, it will prompt you locally as well.

[2021-09-08 10:39] GautierT opened #113 "Performance Issue"
### Description of the bug
It took a long time to publish a new version from the starting of the metro bundler to the complete bundle.  (8 minutes)

### To Reproduce
What steps did you perform which led to this issue?

Use this workflow

[code]

#### Expected behavior
It's very fast on local (max 1 minutes)

#### Actual behavior

It take 8 minutes on github actions

### Additional context

The cac

[2021-09-11 15:14] byCedric commented on #113
Hi @GautierT! Thanks for the issue report. But, this is somewhat expected, here is why:

- `expo-cache` is only caching the `expo-cli` installation, _it does not cache your project_.
    This allows you to skip installing `expo-cli` every time you need it, saving ±1-2m every run.
- Github Action runners aren't the fastest machines out there.
    Your local machine is _**much**_ more powerful compa

[2021-09-11 15:14] #113 closed

[2021-09-11 15:18] byCedric commented on #106
Closing due to inactivity, feel free to comment if you need more help!

[2021-09-11 15:18] #106 closed

[2021-10-04 00:38] cvburgess opened #117 "EAS build on main branch throwing a dirty working tree error"
### Description of the bug

[code]

I am getting this error when following the docs. Any ideas on how this could be or how to fix it?

### To Reproduce
What steps did you perform which led to this issue?

[code]

#### Expected behavior
The build would succeed.

#### Actual behavior
The build failed with the above error.

### Additional context
See YAML.

[2021-10-04 20:59] brentvatne commented on #117
can you add a step to your workflow to log the `git status` between `npm install` and `expo publish` and again between `expo publish` and ` eas build`?

[2021-10-05 01:27] cvburgess commented on #117
npm install modified the package-lock, ill try using npm ci
[code]

[2021-10-05 01:35] cvburgess commented on #117
Switching to `npm ci` appears to have fixed the issue... so I'm curious now how a library like https://www.npmjs.com/package/standard-version-expo is supposed to work with EAS?

Was planning on implementing that tomorrow but now I'm not sure how to use it in conjunction with this action.

[2021-10-29 20:40] brentvatne commented on #117
@cvburgess - you would cut any new versions before running the build. if you want to do this on ci, then you would need ci to be able of making a commit, so possibly you have some action that cuts a new version and pushes a commit and then in response to that a build is kicked off

[2021-11-01 11:59] cvburgess commented on #117
That's what I'm doing now, its just brittle with GitHub actions and protected branches: you need to use a personal token and when we did that we accidentally made a recursive set of commits that blew through our minutes for the month in ~15 minutes.

Its all working now but its an absolute pain for most dev teams with a small team unfamiliar with GHA (which I assume is a large part of the Expo use

[2021-11-01 11:59] #117 closed

[2021-11-02 15:29] brentvatne commented on #117
@cvburgess - can you elaborate on the last paragraph? i'd definitely like to avoid any situation where the dashboard provides incorrect information

[2021-11-04 14:18] cvburgess commented on #117
Absolutely.

So we were using an ENV Var from github in our `app.config.js` - for examples sake, lets say that number is "123".

I think the code was like so: `buildNumber: process.env.RUN_NUMBER || "1"`

When it ran (successfully!) in GitHub Actions a new build with a build number of 123 would start in EAS.

When i'd hop over to EAS it would eventually fail, stating build number "1" had already b

[2021-11-05 07:59] friederbluemle commented on #60
For future visitors, this is where you generate your expo token:

https://expo.dev/settings/access-tokens

[2021-11-16 17:46] brentvatne commented on #117
yup, that makes sense. we do indeed evaluate app.config.js locally when you run the build (in order to gather metadata) and again on the worker. so, if environment variables are different between those environments then the results may be inconsistent.

[2021-11-18 12:18] cvburgess commented on #117
Would be wonderful to document that somewhere, a lot of EAS feels like a guessing game compared to the herculean effort to document Expo

[2021-11-23 21:39] brentvatne commented on #117
it's documented here: https://docs.expo.dev/build/eas-json/#environment-variables
and here: https://docs.expo.dev/build-reference/variables/#environment-variables-and-appconfigjs

[2021-11-26 13:50] byCedric opened #131 "New subactions to implement"
### Topic and scope of discussion
Now that we support multiple entry points, and thus "subactions", we can add multiple different actions. This should be a working draft of those subactions, and what they should do.

name | description
--- | ---
`setup` | The original main action, taking care of Expo/EAS CLI as well as authentication
`expo-build` | Create a new build using the classic build system

[2021-11-30 13:24] byCedric commented on #131
Instead of rebuilding each individual command as action, it might be better to create ["composite sub-actions"](https://docs.github.com/en/actions/creating-actions/creating-a-composite-action). Instead of forcing users to combine a set of commands, we can pre-define them for a general action. E.g.

- "update", which would publish an OTA and puts an optional QR code somewhere. Should also auto-dete

[2021-12-10 12:16] kennethlynne opened #132 "Fails to install eas-cli (out of memory)"
### Description of the bug
Step ```Patching system watchers for the `ENOSPC` error``` seemingly fails without any feedback. Started failing the last day and has previously worked just fine.

### To Reproduce
Using expo/expo-github-action@v6
![image](https://user-images.githubusercontent.com/390817/145572713-48e1ed53-fb7c-4473-a4ef-d26fd36e01fe.png)

#### Expected behavior
No fail. Allows build to

[2021-12-10 12:46] kennethlynne commented on #132
Wait what, something else crashed before that! Updating description

[2021-12-13 08:51] kennethlynne commented on #132
After more digging it turns out simply removing our yarn.lock file and installing yielded the same error message so it does not have anything to do with this project. Sorry for the noise!

[2021-12-13 09:00] winstromming commented on #132
@kennethlynne Have just encountered this issue myself. Found that assigning `eas-version: latest` and `expo-version: latest` helped (and threw different errors), but ultimately upgrading the version of `node` to `16.x` on the machine running the action did the job.

See here: https://github.com/expo/expo-github-action/pull/22

<img width="499" alt="Screenshot 2021-12-13 at 09 55 42" src="https://u

[2021-12-15 17:01] naraB commented on #117
Hi @brentvatne,

is it possible to use the run_number of a github action as the build number? in other words: can I expose an environment variable to the eas submit worker?

[2021-12-15 18:18] brentvatne commented on #117
write a script to set the build number in your app.json from the environment variable, then build with `--auto-submit`

[2021-12-23 16:22] cvburgess commented on #117
Im doing what @brentvatne said above. Its annoying but it works.

Be careful with protected branches.

[2022-01-05 16:40] helloint commented on #12
considering the Node.js [document](https://nodejs.org/api/cli.html#--max-old-space-sizesize-in-megabytes), should be --**max-old-space-size**=SIZE, but tested both `max_old_space_size` and `max-old-space-size` works.

[2022-01-06 04:20] javascripter opened #133 "Patching system watchers for the `ENOSPC` error when running expo/expo-github-action@v6"
### Description of the bug
expo-github-action fails with `Error: Error: The process '/usr/local/bin/yarn' failed with exit code null` when running on GitHub Actions. Updating node to 16.x did not solve the issue.
https://github.com/expo/expo-github-action/issues/132#issuecomment-992245294

Also, I tried `patch-watchers: false` but it resulted in an error as well. With `patch-watchers: false`, the

[2022-01-06 12:42] kennethlynne commented on #132
Thanks for sharing @winstromming! We hit this again today. I highly prefer pinning dependencies to avoid rogue dependencies introducing stuff out of our control, making previous builds that succeeded suddenly fail without a single line of change in lockfiles or code 😭. We are also on node 14 tho. Will try latest, upgrade node and report back here

[2022-01-06 12:45] kennethlynne commented on #133
Be ware we noticed the same problem, but for us it was in fact the install step that failed, not the patching. The logs could be improved.
What you initially see:
![image](https://user-images.githubusercontent.com/390817/148384879-16ff7432-63a2-4675-81f2-0066600542a4.png)

What you see when you expand the steps:
![image](https://user-images.githubusercontent.com/390817/148384847-44e749b4-9f98-4982

[2022-01-06 12:57] kennethlynne commented on #132
Currently installing anything later than eas-cli@0.41.1 breaks with a out-of-memory issue locally and on github actions using Node 14.17 and Yarn 1.22.4

[2022-01-06 13:07] kennethlynne commented on #132
We got the same problem with node@16.13.1 and eas-cli@0.43.0 (latest) :(

[2022-01-06 16:33] kennethlynne commented on #132
Closed as it seems to only be related to eas-cli and not this repo.
→ https://github.com/expo/eas-cli/issues/893

[2022-01-06 16:33] #132 closed

[2022-01-06 18:06] tmhao2005 commented on #132
I've just encountered the same issue then I tried to switch to `npm` as `packager: npm`, the problem appears to be sorted out for me :)

[2022-01-06 20:52] byCedric commented on #133
If this is still an issue for you, can you try running with `packager: npm`? We didn't release a new version of EGH, and both Node/Yarn is running in the Github-managed part of the actions runner. (the part that you can't edit, [the runner context](https://docs.github.com/en/actions/creating-actions/metadata-syntax-for-github-actions#runsusing))

Either GitHub changed something in their Node12 set

[2022-01-07 04:39] javascripter commented on #133
@byCedric I re-run the same workflow without any change a few more times today and they all ran successfully :) Not sure what's changed but It's working for us now :)

@kennethlynne True, when I expanded the failed workflow's `Installing eas-cli (0.43.0) with yarn` section, I indeed saw the same error, which seems to be the actual cause.
[code]

[2022-01-07 10:08] kennethlynne commented on #133
Started working for us too today (thought it was some resolutions we added to package.json or upgrading node), but WTF 🥲. This is the second time it is the eas-cli step that fails with OOM tho in a couple of months, so something weird is going on that I do not understand

[2022-01-07 10:10] kennethlynne commented on #133
Btw: I had the issue locally when installing eas-cli in node 16.13.1, so it is not related to this repo!

[2022-01-07 10:16] kennethlynne commented on #133
To conclude: This means that the reported issue is a duplicate of https://github.com/expo/expo-github-action/issues/132

To avoid more confusion the logs should probably be improved so it is easier to spot what actually failed

[2022-01-07 10:18] kennethlynne commented on #132
It suddenly started working again for us again.

However, we also upgraded to node 16.13.1 and added a resolution for @apollo/client in between

[2022-01-07 10:20] tmhao2005 commented on #132
Yes it worked for me with yarn again after I dropped the comment. Looks like something went wrong with yarn that period of time

[2022-01-07 13:58] byCedric commented on #133
@kennethlynne can you share these dependency resolutions? I tried to reproduce the issue locally with the same Node and yarn versions, but on both Windows and macOS I couldn't reproduce it.

[2022-01-07 16:12] kennethlynne commented on #133
The only change in our codebase between the working and non-working commit was this, and I'm like wtf 😅
[code]

[2022-01-08 10:31] byCedric opened #134 "Replace NCC with SWC pack"
### Description of the feature
Replace usage of NCC/webpack with [SWC pack](https://swc.rs/docs/usage/bundling).

### Motivation
It should be faster and result in fewer build files.

[2022-01-10 01:12] maticzav opened #135 "EAS submit fails in Github Action"
### Description of the bug
I am trying to use `expo-github-action` to automate submission of apps to EAS, but `eas-cli` is reporting an error

[code]

I am using remote/managed credentials from Expo server.

### To Reproduce

I am using the following action configuration

[code]

#### Expected behavior

I am not sure if I missed something in the docs, but I assumed this would've built and uploaded

[2022-01-10 05:10] kuriel-trivu opened #136 "Action stucks at publish"
### Description of the bug
Action stucks at publish command.
`expo publish --release-channel stg`

### To Reproduce
This is what i'm using at Github action yaml file:

[code]

#### Expected behavior
Continue and finish publishing.

#### Actual behavior
Everything before publish runs ok, but after that it stucks at `Starting Metro Bundler` log

![image](https://user-images.githubusercontent.com/464

[2022-01-10 16:30] kuriel-trivu commented on #136
After a lot of time, throws the next error:
![image](https://user-images.githubusercontent.com/46456105/148801976-2e492c8d-d4fb-42ac-80bc-bb5ad931b7e3.png)

[2022-01-11 14:34] maticzav commented on #135
There's an `--non-interactive` option. Sorry for polluting the issues. ✌️

[2022-01-11 14:34] #135 closed

[2022-01-12 13:55] byCedric commented on #136
Hi @kuriel-trivu! Can you share the project? It seems like Metro is somehow stuck building your app. It can have multiple causes, like unintended inclusion of a lot of files etc.

[2022-01-12 15:14] #134 closed

[2022-01-15 16:01] byCedric commented on #89
Closing because this, should be fixed

[2022-01-15 16:01] #89 closed

[2022-01-16 17:30] byCedric commented on #133
I could not find the underlying cause, so for now I would consider this "an unexpected issue caused by yarn". I'll close this issue for now.

That being said, we now have a [simple e2e testing workflow that runs this action every day at 15:00](https://github.com/expo/expo-github-action/commit/fd33d597d339279a12768e1b3c99e051324dc8ba). If something similar like this goes down again, we should have

[2022-01-16 17:30] #133 closed

[2022-01-16 17:38] byCedric commented on #135
No problem, glad you got it sorted :)

[2022-01-16 17:39] byCedric commented on #136
Closing due to inactivity, if you still comment what I asked for, please mention me 😄

[2022-01-16 17:39] #136 closed

[2022-01-16 17:44] byCedric commented on #135
#151 should help others, thanks for mentioning!

[2022-01-17 12:50] kennethlynne commented on #133
No I agree, I have no more info to add. Will report back on this issue if it happens again. Thanks for looking into it 🙌

[2022-01-20 13:01] giautm opened #154 "Could not resolve expo-cli@5.x"
### Description of the bug

Don't know why this action failed on the second job. The first job ran success without any issue
[code]

### Additional context
Can you further explain the issue? E.g., information about version/environment or screenshots.
![tg_image_2850349514](https://user-images.githubusercontent.com/12751435/150343564-11ae3076-ebf0-4471-bb92-293bcfde88f0.jpeg)

[2022-01-21 17:02] thgh opened #155 "Add eas.json contents as step output"
### Description of the feature
The action could output the eas.json contents so it can be reused by other steps

### Motivation
I would like to use `expo publish` to the production release channel

### Additional context
This is my current workaround:

[code]

[2022-02-02 21:32] mwillbanks opened #158 "Unexpected end of JSON input"
### Description of the bug
How would you shortly summarise the issue?

The runner simply fails with Unexpected end of JSON input.

### To Reproduce
What steps did you perform which led to this issue?

Github action setup as following:

[code]

#### Expected behavior
What did you expect to have happened?

The action wouldn't fail but rather run.

#### Actual behavior
What did it actually result in?

[2022-02-11 17:30] endronk commented on #136
I also got the same error. This is my yaml file
[code]

But, I can't share my project because it's company project. What should I do?

[2022-02-13 19:24] byCedric commented on #158
Hi @mwillbanks! Sorry for the late response. Does it still happen for you? I guess the NPM response to resolve exact CLI version is throwing it off here. The current major version for the `expo-cli` is v5, but the error reporting isn't "ideal".

If still happens, try using `expo-version: 5.x` or `expo-version: latest`.

[2022-02-14 15:02] byCedric commented on #158
Improved error output in #159!

[2022-02-14 15:02] #158 closed

[2022-02-19 06:41] jojonicho commented on #58
Any gitlab-ci.yml version of the fix above? Much appreciated

[2022-03-04 22:03] oakley808 commented on #97
Does this include support for eas [internal distribution](https://docs.expo.dev/build/internal-distribution/) builds?

I'm seeing the QR in my PR comment link me to builds that load in Expo Go, so I'm guessing no? Or maybe I'm just the release-channel wrong. It isn't set anywhere for eas build. (or in the eas.json)
My github action for reference:
[code]

[2022-03-13 19:25] PatrickCleary opened #167 "Issue with Expo 5.3.0 update"
### Description of the bug
How would you shortly summarise the issue?
When expo upgraded to 5.3.0 my deployments began failing with:

[code]

I'm not sure if it is only an issue with AWS Amplify or not.

### To Reproduce
What steps did you perform which led to this issue?

GitHub action configuration:
[code]

#### Expected behavior
What did you expect to have happened?
configure Expo within action

[2022-03-13 22:52] PatrickCleary commented on #167
Not urgent or anything, the work around I have is fine. Just thought I would let the developers know. Sorry for lack of details.

[2022-03-17 20:08] byCedric commented on #167
Hi @PatrickCleary! I'm not exactly sure what's going on with the amplify stuff. I don't think we are calling amplify in any way, so it's probably a dependency to run the project (if it contains amplify). If your project is calling it, then I don't know why it's picking the Expo CLI's version of amplify.

That being said, the [latest e2e tests](https://github.com/expo/expo-github-action/actions/run

[2022-03-18 14:08] PatrickCleary commented on #167
Sorry, didn't see there was a new version. Thanks!

[2022-03-18 14:08] #167 closed

[2022-03-18 17:16] byCedric commented on #167
No worries! Github doesn't do a good job informing you about new changes

[2022-03-26 00:39] staghouse opened #172 "[Question] Dependabot support?"
**Edit**: Seems its more of an issue with Dependabot looking at secrets, the setup step shows: `Skipped authentication: 'token' not provided.`

Dependabot runs this action because the action waits for a Pull Request, problem is, Dependabot cant publish because it needs to log in. I tried adding my login credentials as Action secrets and added an additional step after the setup like such:

[code]
b

[2022-03-26 00:51] staghouse commented on #172
TIL: Dependabot has its own list of secrets that would need to match at least in key name in this instance.

[2022-03-26 00:51] #172 closed

[2022-04-01 05:16] alexreyes opened #174 "EAS update fails every time"
### Description of the bug

When the github action for [Publish updates on push](https://docs.expo.dev/eas-update/github-actions/#publish-updates-on-push) runs I get this result: "error: Unable to determine runtime version for android"

### To Reproduce
What steps did you perform which led to this issue?

1. Add EXPO_TOKEN for the repo
2. Create a file path named .github/workflows/update.yml at th

[2022-04-01 11:50] byCedric commented on #174
Hi @alexreyes! Thanks for reporting this. Can you share your app manifest? (the `app.json` or result of `app.config.js`). I think you are missing a required property, like `runtimeVersion`. We should definitely improve the error output here, because it isn't that helpful.

[2022-04-01 23:05] alexreyes commented on #174
Okay, I don't have a `runtimeVersion` set in the `app.json` yet. I found the [runtime versions doc](https://docs.expo.dev/distribution/runtime-versions/), but I'm not sure which version I should put. Is `2.718` the most recent version?

Here's my app.json:
[code]

[2022-04-04 15:43] orome opened #175 "Expo setup fails"
The Expo setup step fails after "Installing expo-cli (5.3.0) from cache or with yarn" with:

[code]

[2022-04-05 14:18] MoatazAbdAlmageed opened #176 "pass job output to another job"
### Topic and scope of discussion
pass job output to another job

### Motivation
after pass those output I will use it to send it via email

### Additional context

I want to get job output like `{{ steps.releaseChannel.outputs.value }}`
I created id with name `android` and in email job I tries to access it and not working  you can found it in https://github.com/MoatazAbdAlmageed/First-Mobile-App/

[2022-04-06 11:02] MoatazAbdAlmageed commented on #176
@byCedric pleas help I want to sent apk to an email

[2022-04-06 11:12] byCedric commented on #176
Hi @MoatazAbdAlmageed! Two things are going on here:

1. If you want to send the build logs, you'll need to write the output to a file. You can do so by running expo like: `$ expo build:android > build-android.log`. This does obfuscate the output from the workflow itself, so I would recommend add another step outputting the logs from file, just to have it in the action as well (e.g. `$ cat build-a

[2022-04-06 11:12] #176 closed

[2022-04-06 11:14] MoatazAbdAlmageed commented on #176
Thank you @byCedric  this was helpful

[2022-04-06 11:16] byCedric commented on #175
Hi @orome! Can you share your workflow file? It seems that the `EXPO_TOKEN` you used is invalid and therefore triggers a `401` response from our API. It means that you are not allowed to fetch the current username (usually because the token is invalid).

[2022-04-06 11:19] byCedric commented on #174
Hi @alexreyes! The runtime version is something you can fill out. It's a version that blocks updates to incompatible builds. In the managed workflow, using the classic build and update system, we use the Expo SDK version (e.g. `44.0.0`). From our docs:

But for EAS build and custom dev clients, you are in control of that value. You can use `1`, `1.0.0`, or even something else.

[2022-04-06 20:57] orome commented on #175
@byCedric Any ideas what could be causing it to be invalid? I've checked and rechecked and the value I save as a secret in the repo is the same as the value of the secret in the Expo project. Could I be failing to meet some requirement on the form of the token?

[2022-04-06 21:27] MoatazAbdAlmageed opened #178 "handle apple TwoFactor auth"
I got handle TwoFactor auth error
[code]
I cannot disable tow factor auth because I don't have any apple devices also please help how can I use `App-Specific Passwords
` with your plugin ?

[2022-04-10 05:50] Stevemoretz commented on #58
I too need gitlab-ci.yml version of the fix above

[2022-04-10 09:05] Stevemoretz commented on #58
I figured out how to change the cache path, create a metro.config.js:

[code]

With this you'll be able to use METRO_CUSTOM_CACHE_PATH environment variable to set a custom path eg:
[code]
which would give:

[code]

@giautm  Now this, lets you create a faster Github action.

@jojonicho  Here's a gitlab equivalent using my solution :

[code]

Of course you might as well, cache yarn install and put i

[2022-04-10 10:01] Stevemoretz commented on #58
Sharing the results of my solution on gitlab :

First time (before caching):
Duration: 18 minutes 42 seconds

Second time (after the cache was created):
Duration: 4 minutes 30 seconds

[2022-04-11 20:21] orome commented on #175
@byCedric I've quadruple checked and the `EXPO_TOKEN` GitHub repo secret has exactly the same value and the Expo project's secret (in the project's secrets setting).

[code]

[2022-04-12 18:36] orome commented on #175
This works now. No idea why. ([But now it never completes.](https://stackoverflow.com/q/71847296/656912))

[2022-04-12 18:36] #175 closed

[2022-04-21 13:45] AronBe opened #179 "workspaces support: code EWORKSPACESCONFIG workspaces config expects an Array"
### Description of the bug
[code]

Using object on `workspaces` in `package.json` probably breaks some expected schema when triggering `npx eas-cli build --profile production --platform all --auto-submit --non-interactive --no-wait`. Somewhat similar to [this issue](https://github.com/microsoft/vscode/issues/77912). The object is ok to use per [yarn](https://classic.yarnpkg.com/blog/2018/02/15/noh

[2022-04-29 14:02] #178 closed

[2022-05-02 12:15] #179 closed

[2022-05-24 09:22] jbtheard opened #182 "Get artifacts links as result"
### Description of the feature
It would return url values for artifacts that have been build during the action

### Motivation
So that we can post link elsewhere, such as a Slack channel

### Additional context
I'd like to have a Slack channel where team members can find latest available internal builds

[2022-06-08 07:48] francesco87 opened #184 "QR Code and DeepLink not showed on Slack channel"
I'd like to send Expo QR Code project `{projectQR}` or A deep link to open the project in Expo Go `{projectDeepLink}` in a Slack channel, follow the example in this [page](https://github.com/expo/expo-github-action/tree/main/preview-comment#sending-preview-comments-elsewhere) .

Unfortunately QR Code is not showed in Slack the it shows the rest of message.
This is my GitHub Action:

name: Build an

[2022-06-14 12:48] tomsoderlund opened #186 "expo/expo-github-action/preview-comment gives “Error: Resource not accessible by integration”"
### Description of the bug
How would you shortly summarise the issue?

The action:

      - name: 💬 Comment preview
        uses: expo/expo-github-action/preview-comment@v7
        with:
          channel: pr-${{ github.event.number }}

fails with **Error: Resource not accessible by integration** on GitHub Actions.

### To Reproduce
What steps did you perform which led to this issue?

1. Created a

[2022-07-02 15:01] robertjcolley opened #188 "Capitalization isn't honored in GitHub actions"
### Description of the bug
How would you shortly summarise the issue?

I have a project named `RepPacer`. When using `expo publish` from my mac, the URL generated honors the capitalization from the project. I believe the generated QR code doesn't honor the capitalization of my project name.

### To Reproduce
What steps did you perform which led to this issue?

1. create expo project with uppercase

[2022-07-03 22:02] byCedric commented on #186
Hi! Did you add the required token permission for the action to "write" to pull requests? In [the docs](https://github.com/expo/expo-github-action/tree/main/preview-comment#publish-and-preview-on-pull-request) we explicitly mention this here:

[code]

More [info on the automatic token authenticationcan be found here](https://docs.github.com/en/actions/security-guides/automatic-token-authentication

[2022-07-03 22:06] byCedric commented on #188
Hi @robertjcolley! Thanks for this detailed bug report. I have to check internally why this is happening but will get back to you asap.

Under the hood, this action uses the Expo CLI to resolve the project owner, name, and slug. It's using the `expo config --json --type prebuild` command. Can you share the slug that you get from these commands?

[code]

[2022-07-04 11:35] byCedric commented on #188
Hi @robertjcolley! I can confirm that this happens, only if you initially published with a cased `expo.slug` in your **app.json** manifest. We don't enforce lower case in the backend, but we do default to lowercase slugs [if you haven't defined it in your app manifest](https://github.com/expo/expo-cli/blob/7e6251d3178f2756b5af76ed36e170018da2c21a/packages/config/src/Config.ts#L472).

My best guess

[2022-07-04 12:18] robertjcolley commented on #188
Thanks @byCedric! I appreciate you taking the time to look into this.

[2022-07-27 22:51] robertoyoc opened #189 "EAS Update: Preview with comment"
### Description of the feature
expo/expo-github-action/preview-comment to be compatible with EAS Update.

### Motivation
We have examples for EAS build in the README and it is possible to open channels/branches with the expo app but with classic release channels we are able to scan a QR code.

### Additional context
[code]
Comment preview will use classic release channels to generate the QR code,

[2022-08-03 10:53] byCedric commented on #186
Closing due to inactivity

[2022-08-03 10:53] #186 closed

[2022-08-09 14:53] gtokman commented on #189
@byCedric Is it possible to see a preview comment for EAS update?

[code]

The preview step is fail at the moment
[code]

<img width="1061" alt="Screen Shot 2022-08-09 at 10 53 06 AM" src="https://user-images.githubusercontent.com/12258850/183682058-9aee5171-dceb-499b-b07c-2e58aed06144.png">

[2022-08-09 19:10] robertoyoc commented on #189
Got it working by doing:
[code]
Replace:
- < YOUR_SCHEME >
- < YOUR_EXPO_UPDATES_URL > with your urlEncoded expo updates url.

Also, you need an [internal distribution (development) build ](https://docs.expo.dev/eas-update/expo-dev-client/). To be able to scan the QR.

[2022-08-10 10:40] tomsoderlund commented on #186
Thank you @byCedric, I will try adding a `permissions` section.

[2022-08-17 14:44] Dakuan opened #190 "Expo publish & preview action is very slow"
### Description of the bug
exp publish is taking ~30mins to build a PR, seems to have happened in a recent expo update. Its less than a minute on my local machine (M1 macbook pro). As a result, all of our github minutes get munched in the first 48 hours of the month, making previews impossible.

### To Reproduce
this is our github action config:

[code]
#### Expected behavior
build in a reasonable

[2022-08-18 14:33] PedroRestrepo commented on #190
I am experiencing the same issue. It got stuck for like 18 minutes on `Starting Metro Bundler` and overall took 22 minutes to run.

![image](https://user-images.githubusercontent.com/7490699/185421138-b19ac272-9dcf-4f5c-a4fe-f07dfd89b3b7.png)

[2022-08-22 17:30] lachenmayer commented on #189
We ran into this issue ourselves, we're using the following fork: https://github.com/expo/expo-github-action/compare/main...lachenmayer:expo-github-action:eas-updates-qr

This checks whether `project.updates.url` exists, and creates a QR code compatible with a dev client instead of the Expo Go QR code if so.

Happy to open a PR if you agree with the approach.

[2022-08-30 11:34] matthewford commented on #189
It would be great to get this working with eas build

[2022-09-06 00:28] bbuchalter commented on #189
@matthewford can you say more? I'm wondering if you're hoping for the same thing I am...

I'm using internal distribution with EAS build, and I'd like the QR code that's generated to be published as a comment on the PR.

[2022-09-06 10:19] matthewford commented on #189
Yes that’s the same issue the QR code is on the expo website just to added
as a comment like the older publish workflow

On Tue, 6 Sep 2022 at 01:28, Brian Buchalter ***@***.***>
wrote:

--
Sent from my iPhone

--
Bit Zesty Limited is a limited company registered in England and Wales. 
Registered number: 06883289. Registered office: 5 Colindeep Lane, London,
England, NW9 6BX.

[2022-09-12 14:25] danielgangverk commented on #189
I'm having the same problem, it would be nice to have these QR codes working with eas update as well

[2022-09-13 14:29] byCedric commented on #190
Hi! Sorry for the late reply. To confirm, is this happening only during the Metro bundling? Nothing has changed in the GH action itself, so I assume it's Metro itself. I'll take a look at possible performance regressions.

[2022-09-14 15:30] swushi commented on #58
Just wanted to share my solution as well, this gets it down to `~30s` and is a little simpler IMO.

You can simply specify any directory as the temp directory with the environment var, `TMPDIR`, which metro references.

[code]

[2022-09-15 21:56] robertoyoc commented on #189
another option here:
[code]
This allows you to have expo and dev client QR codes in the same comment. We found it useful because some of our testers only have Expo Go installed, but we still able to test it using dev client.

[2022-11-03 00:17] mikefisher84 commented on #189
Hi all, I'm trying to workaround this bug myself but I'm missing the <YOUR_SCHEME> part. Where should I look for this value?

I'm basically just trying to make a QR code appear that you can plug into Expo Go with changes specific to a PR for QA.

[2022-11-03 03:12] kdawgwilk commented on #189
<YOUR_SCHEME> is the custom URI scheme mobile apps use for deep linking and universal links I.e. `expo+myapp://`. you can find that in your app.json file or Xcode build settings under capabilities

[2022-11-15 18:56] mikefisher84 commented on #189
Hi all, trying to get one of the easier examples above to work. I just want to preview to generate a QR code that I can open in Expo Go on iOS. I can see the update being published successfully in EAS but I can't get the comment feature to generate a usable QR code.

This is what my action looks like for the comment. Any idea what I'm doing wrong?

[code]

[2022-11-21 19:36] matallui commented on #189
@mikefisher84 in your `<img>` your `appScheme` is incorrect. Just remove the `exp+` bit. That's only used for deep links.

[2022-11-21 19:38] matallui commented on #189
Thanks to the comments on this ticket I did manage to get the QR code working as desired.
The only thing that I couldn't get to work was the deep link, i.e., using a link like

[code]

It looks like Github only allows `https` links (or at least it won't allow deep links). Deep links seem to get converted by github to a link to the image itself, or removed altogether.

Did anyone get the deep link

[2022-11-21 19:53] lacasseio opened #194 "Upgrade @action/core to remove deprecation warning of `set-output` command"
### Description of the bug
[GitHub announced that `set-output` command is now deprecated](https://github.blog/changelog/2022-10-11-github-actions-deprecating-save-state-and-set-output-commands/). This deprecation spam any CI build using Expo GitHub Actions with a deprecation message.

### To Reproduce
Use `expo/expo-github-action@v7` and/or `expo/expo-github-action/preview-comment@v7` in a GitHub

[2022-11-22 10:03] yonitou commented on #58
Hey

Jumping on this thread because I'm experiencing very slow publish times with GitLabCI. I used @Stevemoretz workaround but can't success to make it work. I can see that my custom metro-config is correcty applied because I can see the metro folder being created (I also gitignored it).

[code]